<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeropuerto Santa Ana</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">


</head>
<body>

    <!-- logo y menu responsive -->
    <header>
        <div class="container">
            <!-- parrafo -->
            <p class="logo">Aeropuerto <span class="color-acentoc">Santa Ana</span></p>
            <!--menu-->
            <nav>
                <a href="#qsomos">Sobre Nosotros</a>
                <a href="#destinos">Destinos</a>
                <a href="#registrese">Registrese</a>
                <a href="#reservas">Reservas</a>  
                <a href="#hero">Iniciar Sesion</a>               
            </nav>
        </div>
    </header>

     <!--seccion baner que aparece en todas las paginas-->
    <section id="hero">
        <h1>Gestiona tus vuelos</h1>
        <form action="https://www.uninorte.edu.co/web/educacion-continuada/misiontic2022">
           <button>INGRESA YA</button>
        </form>   
    </section>

    <!--seccion quienes somos-->
    <section id="qsomos">
        <div class="container">

            <div class="img-container"></div>
                <div class="texto">
                    <h2>Quienes <span class="color-acento">Somos?</span></h2>                    
                    <p>
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nemo sed eveniet 
                        repellendus voluptatem doloribus, 
                        ipsam earum doloremque esse, illum 
                        rerum animi! Totam fugit sed sunt 
                        sapiente modi eius mollitia ab.
                    </p>
                </div>
        </div>
    </section>

    <!--seccion Destinos-->
    <section id="destinos">
        <div class="container">        
            <h2>Nuestros <span class="color-acentoc">Destinos</span></h2>
                    <div class="cdestinos">        
                            <div class="carta1">
                            <h3>Ipiales</h3>
                            <p>Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Sint aliquam quibusdam illo, 
                                dignissimos alias doloremque omnis eos architecto 
                                laudantium quo expedita, facere officiis voluptatibus 
                                quam nisi consectetur quidem laborum. Aut.</p>
                                <button> +Info</button>
                            </div>
                            <div class="carta2">
                                <h3>Bogota</h3>
                                <p>Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Sint aliquam quibusdam illo, 
                                    dignissimos alias doloremque omnis eos architecto 
                                    laudantium quo expedita, facere officiis voluptatibus 
                                    quam nisi consectetur quidem laborum. Aut.</p>
                                    <button> +Info</button>
                            </div>
                            <div class="carta3">
                                    <h3>Barranquilla</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur 
                                        adipisicing elit. Sint aliquam quibusdam illo, 
                                        dignissimos alias doloremque omnis eos architecto 
                                        laudantium quo expedita, facere officiis voluptatibus 
                                        quam nisi consectetur quidem laborum. Aut.</p>
                                        <button> +Info</button>
                            </div>
                    </div>
        </div>  
    </section>
                            
    <!--seccion Registrese-->
    <section id="registrese">
        <div class="container">
            <h2>Regis<span class="color-acento">trese</span></h2>
            <ul>
                <li>Registrar Superusuario</li>
                <li>Registrar Piloto</li>
                <li>Registrar Cliente</li>
            </ul>
        </div>

    </section>

    <!--seccion Reservas-->
    <section id="reservas">
        
            <h2>Reserva <span class="color-acentoc">tu vuelo</span></h2>
            <form action="https://www.uninorte.edu.co/web/educacion-continuada/misiontic2022">
                <button>RESERVA YA</button>
            </form>
        
    </section>

    <!--seccion copyright-->
    <footer>
        <div class="container">
            <p>&copy; Misión Tic - Derechos Reservados 2022</p>
        </div>
    </footer>
    
</body>
</html>